p 
{
    font-size: 25px;
}

.big-red {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}

.small-red {
    font-size: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}

#my-button {
    background-color: gray;
    color: white;
    border: none;
    text-decoration: none;
    padding: 15px 32px;
}

th, td{
    border: 1px   solid black;
}

table {
    border-collapse: collapse;
    width: 33%;
} 

.coltest1 {
    background-color: lavenderblush;
}

.coltest2 {
    background-color: lightskyblue;
}

.hbar{
    font-family: 'Courier New', Courier, monospace;
}